body{
  font-family: 'Lato', sans-serif;
  line-height: 1.7;
  font-weight: 400;
  color: $color-grey-dark;
  padding: 2rem;
}

.header__title{
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 3.5rem;
  backface-visibility: hidden;

  &--main{
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 2.25rem;
    line-height: 1.5;
    animation: moveInLeft 1s ease-out;
  }

  &--sub{
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.125rem;
    animation: moveInRight 1s ease-out;
  }
}